body{
  height: 100vh;
  background:linear-gradient(
    white 0%,
    white 70%,
    plum 70%,
    plum 100%
    )
}

.container{
  align-content: space-between;
  align-items: center;
}

#buttonOne{
  padding: 200px;
  position: fixed; bottom: 100px;
}

#buttonTwo{
  position: fixed; 
  padding: 20px;
  bottom: 200px;
  left: 100 px;
  float: left;
}