body{
  height: 100vh;
  background:linear-gradient(
    white 0%,
    white 70%,
    plum 70%,
    plum 100%
    )
}

.container{
  align-content: space-between;
  align-items: center;
}



#buttonTwo{
  
  position: fixed;
width: 500px;
height: 200px;
top: 50%;
left: 50%;
margin-top: 100px;
margin-left: -250px;
}


#career{
  color: rgb(0, 0, 0);
  border-radius: 1%;
}

.clickMe a:link { 

  color: black;
}

.clickMe a:hover { 

  color: plum;
}